server/uploads/tasks/1762964381983-634104202.json
{
  "name": "sort_invoice",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1Mx5wrH0wSDyaWdHB8EMg1q6VD_LTXvn_0rCCCIlsWug",
          "mode": "list",
          "cachedResultName": "учет",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Mx5wrH0wSDyaWdHB8EMg1q6VD_LTXvn_0rCCCIlsWug/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "накладные",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Mx5wrH0wSDyaWdHB8EMg1q6VD_LTXvn_0rCCCIlsWug/edit#gid=0"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -64,
        0
      ],
      "id": "159af0fd-274d-4446-9f34-d4c00dfca282",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "vkascrcDR6NavQwf",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const supplier = $('Google Sheets Trigger').first().json['поставщик'].toLowerCase()\nconst sheets = $input.first().json.sheets\nlet isExists = sheets.some(sheet => \n  sheet.properties.title === supplier\n                          );\nreturn [{\n  json:{\n    tableName: supplier,\n    isExists: isExists,\n    spreadsheetId: $input.first().json.spreadsheetId\n  }\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        0
      ],
      "id": "c3bd3826-3396-44fb-b534-9f7eb04de7b9",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1Mx5wrH0wSDyaWdHB8EMg1q6VD_LTXvn_0rCCCIlsWug",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        192,
        0
      ],
      "id": "02e1e5ea-bcbb-4578-8d1f-f0c7db7a644e",
      "name": "HTTP Request",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dy9yeAmH92AhRVCZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d0830956-4048-409c-a488-2b6eb3c7a629",
              "leftValue": "={{ $json.isExists }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        608,
        0
      ],
      "id": "3d47daab-91d0-4927-92db-eceaeac804cc",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Create sheet').item.json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Create sheet').item.json.title }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "номер": "={{ $('Code in JavaScript1').item.json['номер'] }}",
            "дата": "={{ $('Code in JavaScript1').item.json['дата'] }}",
            "сумма": "={{ $('Code in JavaScript1').item.json['сумма'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "номер",
              "displayName": "номер",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "дата",
              "displayName": "дата",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "сумма",
              "displayName": "сумма",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "дата окончания",
              "displayName": "дата окончания",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1616,
        160
      ],
      "id": "7d7271f2-13b9-41e5-87a2-b382a4aee6ee",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dy9yeAmH92AhRVCZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Code in JavaScript').item.json.spreadsheetId }}",
          "mode": "id"
        },
        "title": "={{ $json.tableName }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        960,
        160
      ],
      "id": "02a796ca-b8ae-4526-9eec-627f75baf1d4",
      "name": "Create sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dy9yeAmH92AhRVCZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json:{\n    \"номер\": $('Google Sheets Trigger').first().json['номер'],\n    \"дата\": $('Google Sheets Trigger').first().json['дата'],\n    \"сумма\":$('Google Sheets Trigger').first().json['сумма']\n  }\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        160
      ],
      "id": "ba330f50-7069-4623-b19c-b888d163063f",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $('Code in JavaScript').item.json.spreadsheetId }}/values/{{ $('Create sheet').item.json.title }}!A1:append?valueInputOption=RAW",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"values\": [\n    [\"номер\", \"дата\", \"сумма\", \"дата окончания\"]\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1392,
        160
      ],
      "id": "9e14765a-6b66-4d06-99d5-28e879d08b56",
      "name": "HTTP Request1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dy9yeAmH92AhRVCZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Code in JavaScript').item.json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Code in JavaScript').item.json.tableName }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "номер": "={{ $json['номер'] }}",
            "дата": "={{ $json['дата'] }}",
            "сумма": "={{ $json['сумма'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "номер",
              "displayName": "номер",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "дата",
              "displayName": "дата",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "сумма",
              "displayName": "сумма",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "дата окончания",
              "displayName": "дата окончания",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1152,
        -96
      ],
      "id": "7b63afcd-ebd4-4aec-b4ae-c6d56f1e1261",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dy9yeAmH92AhRVCZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json:{\n    \"номер\": $('Google Sheets Trigger').first().json['номер'],\n    \"дата\": $('Google Sheets Trigger').first().json['дата'],\n    \"сумма\":$('Google Sheets Trigger').first().json['сумма']\n  }\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        -96
      ],
      "id": "96f9b2b3-f150-4456-9b73-4254ca543f54",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "={{ $('HTTP Request1').item.json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "накладные",
          "mode": "name"
        },
        "startIndex": "={{ $json.row_number }}"
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2144,
        -96
      ],
      "id": "567cc201-ea88-4119-b81e-f119cfb117bc",
      "name": "Delete rows or columns from sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dy9yeAmH92AhRVCZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Code in JavaScript').item.json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "накладные",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "номер",
              "lookupValue": "={{ $('Code in JavaScript1').item.json['номер'] }}"
            },
            {
              "lookupColumn": "дата",
              "lookupValue": "={{ $('Code in JavaScript1').item.json['дата'] }}"
            },
            {
              "lookupColumn": "сумма",
              "lookupValue": "={{ $('Code in JavaScript1').item.json['сумма'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1856,
        -96
      ],
      "id": "9890eeaf-9302-47d2-9d34-22b682a20af0",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dy9yeAmH92AhRVCZ",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Delete rows or columns from sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ee06c309-38f3-46be-a6be-ae95003e6815",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "79a1d45f8a2f1b33bca6cd7ac5bc13d1cd78530b245ee8b694c8918ddb654d8c"
  },
  "id": "dqmS0TZ7rOhSO3Do",
  "tags": []
}